.App {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #eee;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.App .Header {
  padding: 10px 5px;
  display: flex;
  border: 1px solid #eee;
}

.App .Header input {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 24px;
  padding-left: 10px;
  width: 100%;
  border: none;
}

.App .Header input:focus {
  outline: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Footer {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #777;
  display: flex;
  justify-content: space-between;
}

.App-link {
  color: #61dafb;
}
.Footer > div:nth-child(2) > button {
  color: #777;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.Footer > div:nth-child(2) > button:hover {
  border: 1px solid rgba(175, 47, 47, 0.2);
}

.Footer > div:nth-child(2) > button:focus {
  outline: none;
  border: 1px solid rgba(175, 47, 47, 0.2);
}

.Footer > div:last-child > button {
  color: #777;
  border: none;
  cursor: pointer;
}

.Footer > div:last-child > button:hover {
  text-decoration: underline;
}

.Footer > div:last-child > button:focus {
  outline: none;
}

.clearComplete {
  opacity: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
